[all:vars]
{% if ssh_port is defined %}
ansible_port={{ ssh_port }}
{% endif %}

{% for number in range(1,student_total + 1) %}
[student{{ number }}]
{% for host in ansible_node_facts.instances %}
{% if 'student' ~ number == host.tags.Student %}
{{host.tags.Student}}-ansible ansible_host={{ host.public_ip_address }} ansible_user={{ host.tags.username }}
{% endif %}
{% endfor %}
{% for host in hana1_node_facts.instances %}
{% if 'student' ~ number == host.tags.Student %}
{{host.tags.Student}}-hana1 ansible_host={{ host.public_ip_address }} ansible_user={{ host.tags.username }} private_ip={{ hostvars[host.tags.Name]['private_ip'] }}
{% endif %}
{% endfor %}
{% for host in hana2_node_facts.instances %}
{% if 'student' ~ number == host.tags.Student %}
{{host.tags.Student}}-hana2 ansible_host={{ host.public_ip_address }} ansible_user={{ host.tags.username }} private_ip={{ hostvars[host.tags.Name]['private_ip'] }}
{% endif %}
{% endfor %}
{% for host in windows_node_facts.instances %}
{% if 'student' ~ number == host.tags.Student %}
{{host.tags.Student}}-windows-ws ansible_host={{ host.public_ip_address }} ansible_user=Administrator ansible_password={{ windows_password | default(admin_password) }} ansible_port=5986 ansible_connection=winrm ansible_winrm_server_cert_validation=ignore
{% endif %}
{% endfor %}
{% endfor %}
